# Default ignored files
/shelf/
/.idea/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Environment-dependent path to Maven home directory
/mavenHomeManager.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Maven build directory
/target/

# IntelliJ IDEA project files
/.idea/
/*.iml

# Logs
*.log

# OS-specific files
.DS_Store

# Compiled files
*.class
